[submodule "3rd-party/pybind11"]
    path = 3rd-party/pybind11
    url = git@github.com:roastduck/pybind11.git
    branch = fix-typing
[submodule "3rd-party/isl"]
    path = 3rd-party/isl
    url = git://repo.or.cz/isl.git
[submodule "3rd-party/z3"]
    path = 3rd-party/z3
    url = git@github.com:Z3Prover/z3.git
[submodule "3rd-party/cuda-samples"]
    path = 3rd-party/cuda-samples
    url = git@github.com:NVIDIA/cuda-samples.git
[submodule "3rd-party/cppitertools"]
	path = 3rd-party/cppitertools
	url = git@github.com:ryanhaining/cppitertools.git
[submodule "3rd-party/antlr/antlr4"]
	path = 3rd-party/antlr/antlr4
	url = git@github.com:antlr/antlr4.git
