.doc {
    font-size: .7rem !important;
}

h1.doc-heading {
    font-size: 250% !important;
}

h2.doc-heading {
    font-size: 225% !important;
}

h3.doc-heading {
    font-size: 200% !important;
}

h4.doc-heading {
    font-size: 150% !important;
}

h5.doc-heading {
    font-size: 125% !important;
}
