name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-test-gcc-cuda-mkl-pytorch-install:
    runs-on: self-hosted
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.CI }}
          submodules: true
          fetch-depth: 0
      - name: Build ffi module in Release
        run: |
          git submodule foreach --recursive git clean -ffdx
          git submodule foreach --recursive git reset --hard
          source /opt/spack/share/spack/setup-env.sh
          spack load python~debug@3.9.2%gcc@10.2.1 cuda@11.8.0 cudnn@8.7.0.84-11.8 intel-mkl@2020.4.304 java@11 gcc@11.3.0
          source ci-script/prepare-python-environment.sh
          mkdir build
          # We may use a LD_PRELOAD-based proxy in a CI runner, but it crashes PyTorch's CMake script, thus reset LD_PRELOAD here
          LD_PRELOAD= cmake -G Ninja -B build -S . -DCMAKE_BUILD_TYPE=Release -DFT_WITH_CUDA=ON -DFT_WITH_MKL=/home/spack/spack/opt/spack/linux-debian11-zen2/gcc-10.2.1/intel-mkl-2020.4.304-py6elz2mzhdgres34nr5e2ta5isfja7k/mkl -DFT_WITH_PYTORCH=ON -DCMAKE_INSTALL_PREFIX=./install
          cd build && ninja && ninja install
      - name: Run PyTest
        run: |
          source /opt/spack/share/spack/setup-env.sh
          spack load python~debug@3.9.2%gcc@10.2.1 cuda@11.8.0 cudnn@8.7.0.84-11.8 intel-mkl@2020.4.304 java@11 gcc@11.3.0
          source ci-script/prepare-python-environment.sh
          LD_LIBRARY_PATH=./install/lib:$LD_LIBRARY_PATH PYTHONPATH=install/lib:python:$PYTHONPATH srun --exclusive -N 1 -p gpu pytest --color=yes test
  build-and-test-minimal-run_in_tree:
    runs-on: self-hosted
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.CI }}
          submodules: true
          fetch-depth: 0
      - name: Build ffi module in Release
        run: |
          git submodule foreach --recursive git clean -ffdx
          git submodule foreach --recursive git reset --hard
          source /opt/spack/share/spack/setup-env.sh
          spack load python~debug@3.9.2%gcc@10.2.1 java@11 gcc@12.1.0
          source ci-script/prepare-python-environment.sh
          mkdir build
          # certain new GCC 12 warnings are not stable and triggered with false-positive right now, so suppress them here with -Wno-*
          cmake -G Ninja -B build -S . -DCMAKE_BUILD_TYPE=Release -DFT_WITH_CUDA=OFF -DFT_WITH_MKL=OFF -DFT_WITH_PYTORCH=OFF -DCMAKE_CXX_FLAGS="-Wno-restrict -Wno-array-bounds"
          cd build && ninja
      - name: Run PyTest
        run: |
          source /opt/spack/share/spack/setup-env.sh
          spack load python~debug@3.9.2%gcc@10.2.1 java@11 gcc@12.1.0
          source ci-script/prepare-python-environment.sh
          PYTHONPATH=build:python:$PYTHONPATH srun --exclusive -N 1 -p cpu pytest --color=yes test
  build-and-test-clang-run-in-tree:
    runs-on: self-hosted
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.CI }}
          submodules: true
          fetch-depth: 0
      - name: Build ffi module in Release
        run: |
          git submodule foreach --recursive git clean -ffdx
          git submodule foreach --recursive git reset --hard
          source /opt/spack/share/spack/setup-env.sh
          # Clang will find a GCC release to be "compatible" with it, and link with the libstdc++ from GCC. If the GCC is too old for some features, Clang will disable those features as well. So we need to load a new enough gcc as well, and make Clang aware of it with `--gcc-install-dir`
          spack load python~debug@3.9.2%gcc@10.2.1 java@11 gcc@11.3.0 llvm@16.0.0
          source ci-script/prepare-python-environment.sh
          mkdir build
          CC=clang CXX=clang++ cmake -G Ninja -B build -S . -DCMAKE_BUILD_TYPE=Release -DFT_WITH_CUDA=OFF -DFT_WITH_MKL=OFF -DFT_WITH_PYTORCH=OFF -DCMAKE_CXX_FLAGS="--gcc-install-dir=/home/spack/spack/opt/spack/linux-debian11-zen2/gcc-10.2.1/gcc-11.3.0-ajmxdsg6kru3y7eg73cmvl6i7gxgbp7w/lib/gcc/x86_64-pc-linux-gnu/11.3.0"
          cd build && ninja
      - name: Run PyTest
        run: |
          source /opt/spack/share/spack/setup-env.sh
          spack load python~debug@3.9.2%gcc@10.2.1 java@11 gcc@11.3.0 llvm@16.0.0
          source ci-script/prepare-python-environment.sh
          PYTHONPATH=build:python:$PYTHONPATH srun --exclusive -N 1 -p cpu pytest --color=yes test
